.detallesConteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columna{
    max-width: 30rem;
    margin: 2rem;
    height: auto;
    text-align: justify;
    font-size: 1rem;
}

.peliculaImg{
    border-radius: 20px;
    background-color: antiquewhite;
    height: auto;
    max-height: 500px;
}