.detallesConteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columna{
    max-width: 30rem;
    margin: 2rem;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.peliculaImg{
    border-radius: 20px;
    background-color: antiquewhite;
    height: auto;
    max-height: 500px;
}