.botonConteiner{
  width: 80px;
  height: 50px;
  margin: auto;
  border-radius: 20px;
  margin: auto;
}

.paginacionConteiner{
  width: 50%;
  height: 100%;
  justify-content: center;
}

.boton {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  color: white;
  align-items: center;

}
  
  .boton:hover,
  .boton:focus {
    opacity: .75;
}

  